//add products to data base
.products {
    width: 400px;
    height: 200px;
    border: 1px solid grey;
    box-shadow: 5px 5px #888888;
    margin: auto;
    margin-top: 200px;
    div {
        display: inline-block;
        height: 150px;
        padding: 5px;
    }
    .type {
        width: 30%;
    }
    .inputs {
        width: 60%;
        input {
            margin-top: 21px;
            display: block;
            width: 100%;
        }
    }
    p {
        font-size: 20px;
        display: flex;
        justify-content: end;
    }

    button {
        display: block;
        margin: auto; 
    }
}




//main page for cusomers
.noScroll {
    height: 100%;
    overflow-y: hidden;
} // harcakan, body scroll hanel
.scrollKar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 250px;
}
.card-container {
    max-width: 1200px;
    min-height: 100px;
    border: 1px solid grey;
    margin-left: 40px;
    min-height: 100px;
    margin-top: 30px;

    .cont {
        display: flex;
        justify-content: center;
        .card {
            border: 1px solid black;
            box-shadow: -2px 2px grey;
            width: 17%;
            margin: 10px;
            padding: 5px;
            h2 {
                margin-left: 30px;
            }
            .set-busket {
                margin-left: 50px;
                margin-top: 25px;
                border: 1px solid dimgray;
                border-radius: 15px;
                padding-left: 10px;
                padding-right: 10px;
            }
            input {
                margin-left: 50px;
                width: 90px;
            }
            .price {
                margin: 10px 65px;
                color: red;
            }
        }
    }

}
.karzina {
    width: 80px;
    height: 80px;
    float: right;
    background-color: grey;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: -1200px;
    img {
        margin-top: 15px;
        margin-left: 15px;
        width: 60%;
        height: 60%;
        position: relative;
    }
    .num {
        display: flex;
        float: right;
        margin-top: -40px;
        
        p {
            background-color: green;
            border: 1px solid green;
            border-radius: 50%;
            margin-right: -200px;
            font-size: 30px;
            margin-left: -20px;
            z-index: 1;
        }
    }   
}

.buy {
    height: 300px;
    width: 633px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    z-index: 5;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #e2e4e7;
    overflow: auto;
    .closeLine {
        background-color: silver;
        height: 20px;
        position: fixed;
        .close {
            margin-left: 600px;
            margin-top: 2px;
            height: 80%;
        }
    }
    
    #obshi{
        display: flex;
        color:purple;
        font-size: 20px;
        #obshi1 {
            margin-left: 0px;
            margin-top: -20px;
            margin-left: 40px;
        }
        .gumar {
            margin-left: 332px;
            margin-right: 0;
            
        }
    }
}

#para-1 {
    .row {
        font-size: 20px;
        width: 500px;
        display: flex;
        .type {
            margin-left: 40px;
        } 
        .value {
            margin-left: 150px;
        }
        .number {
            margin-left: 40px;
        }
        .all {
            margin-left: 30px;
        }
    }
    ul {
        list-style-type: none;
        width: 567px;
        :nth-child(even){
            background-color: silver;
            ::before {
                background-color: silver;
            }
            :nth-child(even) {
                background-color: silver;
            }
        }
        
        li {
            :nth-child(even) {
                background-color:#e2e4e7;
            }
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            margin-left: -20px;
            margin-top: -20px;
            
            .pic {
                margin-top: 10px;
                width: 30px;
                height: 30px;
                // margin-left: -30px;
            }
            .name {
                width: 210px;
                margin-right: 5px;
            }
            .gin {
                width: 35px;
                margin-right: 10px;
            }
            .last {
                margin-left: 35px;
                margin-right: 35px;
                width: 30px;
            }
            .plus-min1 {
                background-color: Azure;
                height: 20px;
                margin-top: 15px;
                border-radius: 50%;
                margin-left: 5px;
                margin-right: 5px;
            }
            input {
                height: 15px;
                margin-top: 15px;
                width: 50px;
            }
            .delete {
                border-radius: 20px;
                height: 25px;
                margin-top: 13px;
                
            }
        }        
    }
    
}


// busket
table, th, td {
    border:1px solid black;
}
.table1 {
    margin: auto;
    margin-top: 50px;
    tr {
        :first-child{
            width: 600px;
        }
        :nth-child(2) {
            width: 200px;
        }
        :last-child {
            width: 300px;
        }
    }
}
.contacts {

    margin-top: 50px;

    p {
        font-size: 20px;
        display: flex;
        justify-content: end;
    }
    input {
        width: 400px;
        margin-top: 21px;
        display: block;
    }
    .contact {
        margin-left: 420px;
        div {
            display: inline-block;
            margin: auto;
            padding: 5px;
        }
    }
    button {
        margin-left: 90%;
        height: 30px;
        border-radius: 10px;
    }
}